<mat-accordion class="map-accordion">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-checkbox class="example-margin"
                      (ngModelChange)="onChange($event)"
                      [ngModel]="continent.checked"
                      [indeterminate]="indeterminate"
                      (click)="onClick($event)"
        >
          <span class="nested-countries">
           {{continent?.name}}
           ({{continent?.country.length}})
        </span>
        </mat-checkbox>

      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container *ngIf="continent.country.length">
      <app-country *ngFor="let country of continent.country"
                   [country]="country"
                   (onChanges)="onChanges($event)"
      ></app-country>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
